In [5]:
%run "H:\Python\connect to database.py"

In [7]:
ASGN = pd.read_sql('select * from HR.hr_pa_fas_assignment_v', EDW)

In [9]:
ASGN.columns

Index(['pers_nbr', 'start_date', 'end_date', 'prim_asgn_also_rpt_to_2',
       'prim_asgn_also_rpt_to_3', 'prim_asgn_also_rpt_to_4',
       'prim_asgn_also_rpt_to_5', 'fas_asgn_nbr_2', 'asgn_typ_cd_2',
       'asgn_typ_nm_2', 'fas_asgn_nbr_2_org_cd_1', 'fas_asgn_nbr_2_org_cd_2',
       'fas_asgn_nbr_2_org_cd_3', 'fas_asgn_nbr_2_org_cd_4',
       'fas_asgn_nbr_2_org_cd_5', 'fas_asgn_nm_2', 'emp_cat_cd_2',
       'emp_cat_nm_2', 'shrt_txt_2', 'fas_asgn_nbr_3', 'asgn_typ_cd_3',
       'asgn_typ_nm_3', 'fas_asgn_nbr_3_org_cd_1', 'fas_asgn_nbr_3_org_cd_2',
       'fas_asgn_nbr_3_org_cd_3', 'fas_asgn_nbr_3_org_cd_4',
       'fas_asgn_nbr_3_org_cd_5', 'fas_asgn_nm_3', 'emp_cat_cd_3',
       'emp_cat_nm_3', 'shrt_txt_3', 'fas_asgn_nbr_4', 'asgn_typ_cd_4',
       'asgn_typ_nm_4', 'fas_asgn_nbr_4_org_cd_1', 'fas_asgn_nbr_4_org_cd_2',
       'fas_asgn_nbr_4_org_cd_3', 'fas_asgn_nbr_4_org_cd_4',
       'fas_asgn_nbr_4_org_cd_5', 'fas_asgn_nm_4', 'emp_cat_cd_4',
       'emp_cat_nm_4', 'shrt_txt_4', 'fas_asgn_nbr_5', 'asgn_typ_cd_5',
       'asgn_typ_nm_5', 'fas_asgn_nbr_5_org_cd_1', 'fas_asgn_nbr_5_org_cd_2',
       'fas_asgn_nbr_5_org_cd_3', 'fas_asgn_nbr_5_org_cd_4',
       'fas_asgn_nbr_5_org_cd_5', 'fas_asgn_nm_5', 'emp_cat_cd_5',
       'emp_cat_nm_5', 'shrt_txt_5', 'fas_asgn_long_nm_2',
       'fas_asgn_long_nm_3', 'fas_asgn_long_nm_4', 'fas_asgn_long_nm_5',
       'endow_ind_2', 'endow_ind_3', 'endow_ind_4', 'endow_ind_5',
       'fac_rnk_cd_2', 'fac_rnk_nm_2', 'fac_ttl_ind_2', 'fac_rnk_cd_3',
       'fac_rnk_nm_3', 'fac_ttl_ind_3', 'fac_rnk_cd_4', 'fac_rnk_nm_4',
       'fac_ttl_ind_4', 'fac_rnk_cd_5', 'fac_rnk_nm_5', 'fac_ttl_ind_5',
       'curr_ind', 'src_last_updated_by', 'src_last_update_date', 'created_by',
       'create_date', 'last_updated_by', 'last_update_date'],
      dtype='object')

In [71]:
import re
orgcol =[x for x in ASGN.columns if re.match(r'prim_asgn_also_rpt_to_\d',x) or re.match(r'\w+_org_cd_\d+',x) or \
 x in ['pers_nbr','start_date','end_date'] ]

In [72]:
orgdf = ASGN.filter(items=orgcol)

In [73]:
orgdfL = orgdf.melt(id_vars=['pers_nbr','start_date','end_date'], var_name='type', value_name='org_cd')

In [74]:
orgdfL = orgdfL.dropna()

In [75]:
orgdfL.head()

   pers_nbr start_date             end_date                     type    org_cd
1      5150 2017-08-16  2018-06-30 00:00:00  prim_asgn_also_rpt_to_2  10010494
2      6091 2017-07-01  2018-06-30 00:00:00  prim_asgn_also_rpt_to_2  10034330
4     36278 2017-07-01  9999-12-31 00:00:00  prim_asgn_also_rpt_to_2  10034711
5     52446 2017-09-01  9999-12-31 00:00:00  prim_asgn_also_rpt_to_2  10022273
6     52470 2017-09-02  2017-12-31 00:00:00  prim_asgn_also_rpt_to_2  10004264

In [76]:
orgdfL['type'].drop_duplicates()

1         prim_asgn_also_rpt_to_2
15307     prim_asgn_also_rpt_to_3
30638     prim_asgn_also_rpt_to_4
47393     prim_asgn_also_rpt_to_5
61160     fas_asgn_nbr_2_org_cd_1
76481     fas_asgn_nbr_2_org_cd_2
91798     fas_asgn_nbr_2_org_cd_3
107088    fas_asgn_nbr_2_org_cd_4
137636    fas_asgn_nbr_3_org_cd_1
152988    fas_asgn_nbr_3_org_cd_2
169362    fas_asgn_nbr_3_org_cd_3
184652    fas_asgn_nbr_3_org_cd_4
214099    fas_asgn_nbr_4_org_cd_1
229497    fas_asgn_nbr_4_org_cd_2
245812    fas_asgn_nbr_4_org_cd_3
261102    fas_asgn_nbr_4_org_cd_4
291686    fas_asgn_nbr_5_org_cd_1
Name: type, dtype: object

In [77]:
orgdfL.shape

(19531, 5)

In [78]:
orgdfL['seq']= orgdfL['type'].str.extract(r'\w+_(\d)$')

C:\Users\chendi4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [84]:
orgdfL['asgngrp'] = orgdfL['type'].str.extract(r'(\w+)_\d$')

C:\Users\chendi4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [85]:
orgdfL[['type','seq','asgngrp']].drop_duplicates()

                           type seq                asgngrp
1       prim_asgn_also_rpt_to_2   2  prim_asgn_also_rpt_to
15307   prim_asgn_also_rpt_to_3   3  prim_asgn_also_rpt_to
30638   prim_asgn_also_rpt_to_4   4  prim_asgn_also_rpt_to
47393   prim_asgn_also_rpt_to_5   5  prim_asgn_also_rpt_to
61160   fas_asgn_nbr_2_org_cd_1   1  fas_asgn_nbr_2_org_cd
76481   fas_asgn_nbr_2_org_cd_2   2  fas_asgn_nbr_2_org_cd
91798   fas_asgn_nbr_2_org_cd_3   3  fas_asgn_nbr_2_org_cd
107088  fas_asgn_nbr_2_org_cd_4   4  fas_asgn_nbr_2_org_cd
137636  fas_asgn_nbr_3_org_cd_1   1  fas_asgn_nbr_3_org_cd
152988  fas_asgn_nbr_3_org_cd_2   2  fas_asgn_nbr_3_org_cd
169362  fas_asgn_nbr_3_org_cd_3   3  fas_asgn_nbr_3_org_cd
184652  fas_asgn_nbr_3_org_cd_4   4  fas_asgn_nbr_3_org_cd
214099  fas_asgn_nbr_4_org_cd_1   1  fas_asgn_nbr_4_org_cd
229497  fas_asgn_nbr_4_org_cd_2   2  fas_asgn_nbr_4_org_cd
245812  fas_asgn_nbr_4_org_cd_3   3  fas_asgn_nbr_4_org_cd
261102  fas_asgn_nbr_4_org_cd_4   4  fas_asgn_nbr_4_org_cd
291686  fas_asgn_nbr_5_org_cd_1   1  fas_asgn_nbr_5_org_cd

In [86]:
orgdfL.groupby(['type','seq','asgngrp'])['pers_nbr'].size()

type                     seq  asgngrp
fas_asgn_nbr_2_org_cd_1  1    fas_asgn_nbr_2_org_cd     5359
fas_asgn_nbr_2_org_cd_2  2    fas_asgn_nbr_2_org_cd      577
fas_asgn_nbr_2_org_cd_3  3    fas_asgn_nbr_2_org_cd      106
fas_asgn_nbr_2_org_cd_4  4    fas_asgn_nbr_2_org_cd       18
fas_asgn_nbr_3_org_cd_1  1    fas_asgn_nbr_3_org_cd      679
fas_asgn_nbr_3_org_cd_2  2    fas_asgn_nbr_3_org_cd       84
fas_asgn_nbr_3_org_cd_3  3    fas_asgn_nbr_3_org_cd       17
fas_asgn_nbr_3_org_cd_4  4    fas_asgn_nbr_3_org_cd        3
fas_asgn_nbr_4_org_cd_1  1    fas_asgn_nbr_4_org_cd       64
fas_asgn_nbr_4_org_cd_2  2    fas_asgn_nbr_4_org_cd        4
fas_asgn_nbr_4_org_cd_3  3    fas_asgn_nbr_4_org_cd        2
fas_asgn_nbr_4_org_cd_4  4    fas_asgn_nbr_4_org_cd        1
fas_asgn_nbr_5_org_cd_1  1    fas_asgn_nbr_5_org_cd        9
prim_asgn_also_rpt_to_2  2    prim_asgn_also_rpt_to    10995
prim_asgn_also_rpt_to_3  3    prim_asgn_also_rpt_to     1436
prim_asgn_also_rpt_to_4  4    prim_asgn_also_rpt_to      176
prim_asgn_also_rpt_to_5  5    prim_asgn_also_rpt_to        1
Name: pers_nbr, dtype: int64

In [87]:
OOI = pd.read_sql('select * from  OOI.ooi_ooi_org_struct_cd_lvl_rv', EDW)

In [88]:
OOIRTHR = OOI[OOI['structure_type']=='RTHR']

In [127]:
orgdfL.shape

(19531, 9)

In [92]:
orgdfL = orgdfL.join(OOIRTHR.set_index('org_code').loc[:,['mau_code','dept_code']], on='org_cd')

In [99]:
t=orgdfL[orgdfL['mau_code'].isnull()  ]

In [97]:
orgdfL.dtypes

pers_nbr               int64
start_date    datetime64[ns]
end_date              object
type                  object
org_cd                object
seq                   object
asgngrp               object
mau_code              object
dept_code             object
dtype: object

In [122]:
import datetime
t[t['end_date']>=datetime.datetime.now()].drop(['asgngrp','seq'],axis=1)

,pers_nbr,start_date,end_date,type,org_cd,mau_code,dept_code
929,19349,2011-06-15,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057673,NaN,NaN
2246,31967,2010-12-17,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057210,NaN,NaN
2536,33272,2010-12-17,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10002210,NaN,NaN
3217,37655,2011-01-16,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057673,NaN,NaN
4148,48763,2010-12-17,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057673,NaN,NaN
4573,40304,2011-06-15,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057673,NaN,NaN
6040,55049,2011-06-15,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057210,NaN,NaN
8461,6390,2012-08-01,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10057210,NaN,NaN
14055,117526,2012-09-01,9999-12-31 00:00:00,prim_asgn_also_rpt_to_2,10002210,NaN,NaN
18031,33580,2010-12-17,9999-12-31 00:00:00,prim_asgn_also_rpt_to_3,10058285,NaN,NaN
21288,53101,2011-10-01,9999-12-31 00:00:00,prim_asgn_also_rpt_to_3,10057673,NaN,NaN
36578,53101,2011-10-01,9999-12-31 00:00:00,prim_asgn_also_rpt_to_4,10058673,NaN,NaN
61466,15316,2014-07-01,9999-12-31 00:00:00,fas_asgn_nbr_2_org_cd_1,10085657,NaN,NaN
72721,5846,2011-10-15,9999-12-31 00:00:00,fas_asgn_nbr_2_org_cd_1,10000003,None,None
79191,33580,2010-12-17,9999-12-31 00:00:00,fas_asgn_nbr_2_org_cd_2,10058285,NaN,NaN

In [125]:
OOI[OOI['org_code']=='10057210']

,org_code,org_full_name,org_type,org_type_desc,org_type_level,structure_type,structure_type_name,org_structure_code,campus_oid,campus_name,...,u6_oid,u6_name,u6_code,u7_oid,u7_name,u7_code,created_by,create_date,last_updated_by,last_update_date
5000,10057210,CROP AND SOIL SCIENCE MABR,U1,UNIT LEVEL 1,60,D03,Legacy,11P572102000000,10000001,EAST LANSING,...,None,None,None,None,None,None,PR_OOI_OOI_ORG_STRUCT_CD_LVL_R,2018-07-20 00:47:29,PR_OOI_OOI_ORG_STRUCT_CD_LVL_R,2018-07-20 00:47:29
5001,10057210,CROP AND SOIL SCIENCE MABR,U1,UNIT LEVEL 1,60,RS,Reference Structure,11P022102000000,10000001,EAST LANSING,...,None,None,None,None,None,None,PR_OOI_OOI_ORG_STRUCT_CD_LVL_R,2018-07-20 00:47:29,PR_OOI_OOI_ORG_STRUCT_CD_LVL_R,2018-07-20 00:47:29

In [160]:
asgncol  =[x for x in ASGN.columns if not re.match(r'prim_asgn_also_rpt_to_\d',x) and not re.match(r'\w+_org_cd_\d+',x) ]

In [161]:
asgndf = ASGN.filter(items=asgncol).set_index(['pers_nbr','start_date','end_date']).\
            filter(regex= r'\w+_\d')

In [162]:
asgndfL = asgndf.stack().reset_index().rename(columns={'level_3':'variable',0:'value'})

In [163]:
asgndfL['seq']= asgndfL['variable'].str.extract(r'\w+_(\d)$') 
asgndfL['grp']= asgndfL['variable'].str.extract(r'(\w+)_\d$')

C:\Users\chendi4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\chendi4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

In [168]:
asgndfL =  asgndfL.drop('variable',axis=1).set_index(['pers_nbr','start_date','end_date','seq','grp']).unstack()

In [170]:
asgndfL.columns=asgndfL.columns.droplevel()

In [172]:
asgndfL= asgndfL.reset_index()

In [173]:
asgndfL.head()

grp,pers_nbr,start_date,end_date,seq,asgn_typ_cd,asgn_typ_nm,emp_cat_cd,emp_cat_nm,endow_ind,fac_rnk_cd,fac_rnk_nm,fac_ttl_ind,fas_asgn_long_nm,fas_asgn_nbr,fas_asgn_nm,shrt_txt
0,1004,2010-12-17,2011-01-23 00:00:00,2,None,None,FT9,Other Title,N,None,None,Y,DIRECTOR III,2067,DIRECTOR I,FT90990
1,1004,2010-12-17,2011-01-23 00:00:00,3,None,None,FF9,Faculty,N,9FR4,Faculty Rank Level 40,N,UNIVERSITY DISTINGUISHED PROFESSOR,2154,UNIV DISTINGUISHED PROFESSOR,FF92290
2,1004,2010-12-17,2011-01-23 00:00:00,4,None,None,None,None,None,None,None,N,None,0,None,None
3,1004,2010-12-17,2011-01-23 00:00:00,5,None,None,None,None,None,None,None,N,None,0,None,None
4,1004,2011-01-24,2012-01-22 00:00:00,2,None,None,FT9,Other Title,N,None,None,Y,DIRECTOR III,2067,DIRECTOR I,FT90990

In [174]:
asgndfL.shape

(61160, 16)